<div class="section" >
  <div class="row">
    <div class="col-md-12">
      <h1><a href="#/">Modelos</a> 
      <img src="images/back-icon.png" class="back_icon">
       Informações</h1>

      <div class="row">
		<div class="col-md-8 col-sm-8">

			<h3>Informações sobre o OA.</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a enim elit. Aenean faucibus nunc sed maximus efficitur. Morbi nulla tellus, tincidunt sed orci a, eleifend venenatis eros. Pellentesque ut nisl dui. Pellentesque faucibus bibendum urna, sed varius mi sagittis nec. Curabitur malesuada mattis sem, eget ultrices ex vehicula non. Fusce condimentum pellentesque cursus. Vestibulum nec velit quis tellus rhoncus condimentum sed at metus. Aenean vitae nisi ut nisi lacinia iaculis vitae sed felis. Morbi dictum nisl lacus, in viverra eros auctor venenatis. Vivamus sagittis turpis faucibus, mollis magna eu, posuere magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non purus venenatis, vulputate arcu in, placerat purus.
			</p>

		</div>

		<div class="col-md-4 col-sm-4">
			<h3>Informações Técnicas</h3>
			<p>
				Desenvolvido por <a href="http://www.wansouza.com" target="_blank">Wan Souza</a>
			</p>
			<h4>Tecnologias Utilizadas</h4>
			<p>Blender</p>
		</div>

      </div>

    </div>
    </div>
</div>