<div class="section" >
  <div class="row">
    <div class="col-md-12">
      <h1><a href="#/">Modelos</a> 
      <img src="images/back-icon.png" class="back_icon">{{model.name}}</h1>

      <div class="row">
        <div class="col-md-7 ">

            <iframe width="100%" height="400" 
                ng-src="{{'https://sketchfab.com/models/'+ model.id + '/embed' | as_trusted_url}}" 
                frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
            </iframe>

        </div>
        <div class="col-md-5">

          <div class="row">
            <div class="col-md-12">
              <h2 class="moldes_title">Moldes</h2>
              <p>
                <img src="{{model.moldImageURL}}" width="100%">
              </p>
            </div>
            <div class="col-md-12">
              <h2 class="legenda_title">Legenda</h2>
              <table>
                <tr ng-repeat="caption in model.captions" class="caption">
                  <td>{{caption.id}}</td><td>{{caption.description}}</td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
